MOODLE_VERSION=5.2.2
MOODLE_BRANCH=stable502
MOODLE_PORT=8080

# RESTART_POLICY: política de restart dos containers.
# Em dev, deixe "no" (padrão) para não reiniciar os containers junto com a máquina.
# Em prod, use "always" para garantir que os containers voltem automaticamente na inicialização do servidor.
RESTART_POLICY=no

MOODLE_DB_NAME=moodle
MOODLE_DB_USER=moodle
MOODLE_DB_PASSWORD=moodle

MOODLE_LANG=pt_br
MOODLE_SITE_FULLNAME=Moodle
MOODLE_SITE_SHORTNAME=moodle
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=Admin123!
MOODLE_ADMIN_EMAIL=admin@example.com
